.experienceBar {
  display: flex;
  align-items: center;
  
  /* Em telas pequenas como a minha
  a section colava na experience bar */
  margin-bottom: 3rem;
}

.experienceBar span {
 font-size: 1rem;
}

/* Barra ponta a ponta */
.experienceBar > div {
  flex:1;
  height: 4px;
  border-radius: 4px;
  background-color: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

/* Barra de XP adquirido */
.experienceBar > div > div {
  height: 4px;
  border-radius: 4px;
  background-color: var(--green);
}

/* texto com a quantia de XP */
span.currentExperience { 
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}
.experienceBar a {
  color: #8257e6;
  font: 600 14px monospace;
  letter-spacing: 2px;  
}