.container {
  height: 95vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;

}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  /* verticalmente */
  align-content: center;

}

@media(max-width: 780px){
  .container {
    height: 100%;
    width: 90vw;
  }
  .container section {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
}